<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue.js App</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <div id="app">
      <blog-post v-bind:book="book"></blog-post>
    </div>
    <navigation-link url="/profile">
      Your Profile
    </navigation-link>

    <script src="vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
